<div ng-controller="accountPopupCtrl">
  
    <ion-list ng-if="check" ng-repeat="account in accounts">

        <button ng-click="choose(account)" class="button button-outline button-assertive">{{account.regEmail}}</button>

    </ion-list>
  
  <div ng-if="!check">
    <p> You do not have any registered account</p>
    <a class="button button-block button-assertive-custom2" href="#/tab/profile"><p style="color: white">Add account</p></a>
  </div>
  
  <div ng-if="!isLogged">
    <p> You are not authorized to access this! Please log in</p>
  </div>  
</div>