<ion-popover-view ng-controller="AccountCtrl">
  <ion-list>
         
        <a class="item item-icon-right" href="login.html" ng-if=!returnToken()>
          <i class="icon ion-ios-arrow-right"></i>
          Login / Sign Up
        </a>
        <a class="item item-icon-right" href="#/tab/profile" ng-if=returnToken()>
          <i class="icon ion-ios-arrow-right"></i>
          Profile
        </a>
        <a class="item item-icon-right" href="#/tab/orderHistory" ng-if=returnToken()>
          <i class="icon ion-ios-arrow-right"></i>
          Order History
        </a>
        <a class="item item-icon-right" href="#/tab/termsOfUse">
          <i class="icon ion-ios-arrow-right"></i>
          Terms of Use
        </a>
        <a class="item item-icon-right" href="#/tab/shippingPolicy">
          <i class="icon ion-ios-arrow-right"></i>
          Privacy Policies
        </a>
        <a class="item item-icon-right" ng-click="logout()" ng-if=returnToken()>
          <i class="icon ion-ios-arrow-right"></i>
          Logout
        </a>
    </ion-list>
</ion-popover-view>