<ion-view view-title="Payment Failed" ng-controller="paymentFailedCtrl">
  <ion-content>
    <div class="box1">
    <div ng-if="!isOnline">
      <div class="bar bar-subheader bar-assertive">
        <h2 class="title">You are not connected to the internet</h2>
      </div>
      <br>
      <br>
      <br>
    </div>

  <br><br><br>
		  <img src="" alt="" style="width: 80vw; height: 80vw;margin:auto; display:block" /> 
		  <br>
		  <p style="text-align:center; color:grey">Your transaction has failed! Please try placing your order again.</p>
		   <p style="text-align:center; color:grey">We regret the inconvenience caused</p>
      <a class="button button-full button-assertive-custom" ng-click="replace()"><h4 style="color:white">Return Home</h4></a>  

		</div>
  </ion-content>
</ion-view>
