<ion-view view-title="Payment Failed" ng-controller="paymentFailedCtrl">
  <ion-content>

  <br><br><br>
		  <img src="" alt="" style="width: 80vw; height: 80vw;margin:auto; display:block" /> 
		  <br>
		  <p style="text-align:center; color:grey">Your transaction has failed! Please try placing your order again.</p>
		   <p style="text-align:center; color:grey">We regret the inconvenience caused</p>
      <a class="button button-full button-assertive-custom" ng-click="replace()"><h4 style="color:white">Return Home</h4></a>  

		
  </ion-content>
</ion-view>
