<ion-view view-title="Payment Failed &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img class='title-image' src='img/logo_white.png' />" ng-controller="paymentFailedCtrl">  
  <ion-content>
    <div class="box1">
    <div ng-if="!isOnline">
      <div class="bar bar-subheader bar-assertive">
        <h2 class="title">You are not connected to the internet</h2>
      </div>
      <br>
      <br>
      <br>
    </div>

  <br><br><br>
  <div ng-if="isMobile">
		  <img src="img/failedTransaction.jpg" alt="Failed Transaction" style="width: 80vw; height: 80vw;margin:auto; display:block" /> 
		  <br>
		  <p style="text-align:center; color:grey">Your transaction has failed! Please try placing your order again.</p>
		   <p style="text-align:center; color:grey">We regret the inconvenience caused</p>
      <a class="button button-block button-assertive-custom" ng-click="replace()"><h4 style="color:white">Return Home</h4></a>  
  </div>
  
  <div ng-if="!isMobile">
    <div class="row">
      <div class="col col-25"></div>
      <div class="col col-50">
  		  <img src="img/failedTransaction.jpg" alt="Failed Transaction" style="width: 300px; height: 300px;margin:auto; display:block" /> 
  		  <br>
  		  <p style="text-align:center; color:grey">Your transaction has failed! Please try placing your order again.</p>
  		   <p style="text-align:center; color:grey">We regret the inconvenience caused</p>
        <a class="button button-block button-assertive-custom" ng-click="replace()"><h4 style="color:white">Return Home</h4></a>          
      </div>
      <div class="col col-2"></div>
    </div>
    
  </div>
		</div>
  </ion-content>
        <div class="bar bar-footer bar-assertive-custom" ng-if="!isMobile">
          <div class="title">
            <div class="row">
              <div class="col"><p style="color: #ff7f12; font-size: 15px; "><b>Find us on: </b></p></div>
              <div class="col col-center"><a href=""><img src="img/playstore.png" style="width: 40px; height: 40px"></a></div>
              <div class="col col-center"><a href="http://facebook.com/sqippr"><img src="img/facebook.png" style="width: 40px; height: 40px"></a></div>
              <div class="col col-center"><a href=""><img src="img/twitter.png" style="width: 40px; height: 40px"></a></div>
              <div class="col col-center">&copy 2016 Sqippr</div>
            </div>
          </div>
        </div>  
</ion-view>
