<ion-view view-title="Menu">
  <!--<div class="bar bar-subheader bar-energized bar-stable">-->
  <!--  <h2 class="title">Sub Header</h2>-->
  <!--</div>  -->

  <ion-content>
    <div class="bar bar-subheader bar-assertive" ng-show="isEmpty()">
      <h2 class="title">You have not selected an outlet. Please click back</h2>
    </div>
    
    <div ng-if="!isOnline">
      <div class="bar bar-subheader bar-assertive">
        <h2 class="title">You are not connected to the internet</h2>
      </div>
      <br>
      <br>
    </div>    
    <!--<ion-list>-->
    <!--  <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
    <!--    {{playlist.title}}-->
    <!--  </ion-item>-->
    <!--</ion-list>-->
    	<!--<div class="row_image_func" ng-style="{'background-image': 'url({})'};-->
    	<!--                                    width: 100%;-->
     <!--                                     height: 400px;-->
     <!--                                     background-size: 100% 100%;">-->
     
     <!-- </div>-->
  <br>
  <br>

    <!--<div class="container">-->
    <!--  <img src="img/{{currentOutlet.id}}.png">-->
    <!--</div>-->
    <p style="text-align:center"><img src="img/20.1.jpg" style="width:100vw;height:200px;margin:auto;display:block"></p>
      <ion-list>
        
        <div ng-repeat="detail in details">
          <ion-item class="item-stable"
                    ng-click="toggleDetail(detail)"
                    ng-class="{active: isDetailShown(detail)}">
              <i class="icon icon-right" ng-class="isDetailShown(detail) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            &nbsp;
            Restaurant Details
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="object in detail.objects"
                    ng-show="isDetailShown(detail)">
           
            <div class = "row">
              <div class = "col"><p style="font-size:15px; text-align:left">Open Hours : </p></div>
              <div class = "col text-right"><button class="button button-clear button-balanced">Open Now</button></div>
            </div>
            <div class = "row">
              <div class = "col"><p style="font-size:18px; text-align:left">9:00 AM - 10:00 PM</p></div>
              <div class = "col text-right"><button class="button button-clear button-balanced">Delivery Open</button></div>
            </div>
            
          </ion-item>
        </div>
        
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon icon-right" ng-class="isGroupShown(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            &nbsp;
            {{group.type}}{{group.prepTime}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items | orderBy: 'minTime'"
                    ng-show="isGroupShown(group)">
           
            <div class = "row">
              <div class = "col"><p style="font-size:18px; text-align:left">{{ item.name }}</p></div>
              <div class = "col"><p style="font-size:18px; text-align:right">Rs. {{ item.price }}</p></div>
            </div>
             <div class = "row">
                <div class = "col"><p> Min Time : {{ item.minTime }} min</p></div>
                
                <div class = "col col-10" ng-init="obj={ check:item.isFavourite }">
                  <a class="button button-icon icon ion-ios-heart-outline" ng-if="!obj.check" ng-click="obj.check = true; addToFavourites(obj.check,item)">
                     <!--<i class="iconMenuCustom ion-ios-heart-outline"></i>-->
                  </a>
                  <a class="button button-icon icon ion-ios-heart" ng-if="obj.check" ng-click="obj.check = false; addToFavourites(obj.check,item)">
                    <!--<i class="iconMenuCustom ion-ios-heart"></i>-->
                  </a>
                </div>
                
                <div class = "col col-10">
                  <a class="button button-icon icon ion-ios-cart-outline" ng-click="addToCart(item)" ng-if="item.isAvailable">
                     <!--<i class="iconMenuCustom ion-ios-plus-outline"></i>-->
                  </a>
                </div>
                <div class = "col col-20"><p style="text-align:right">{{ item.quantity }} qty</p></div>
              </div>
            
          </ion-item>
        </div>
      </ion-list>
    </div>

    <!--<div class="list">-->

    <!--  <a class="item item-icon-left" href="#">-->
    <!--      <i class="icon ion-android-pin"></i>-->
    <!--      <p>Location</p>-->
    <!--      <h3>{{ resto.location }}</h3>-->
    <!--  </a>-->
      
    <!--  <a class="item item-icon-left" href="#">-->
    <!--      <i class="icon ion-android-time"></i>-->
    <!--      <p>Open or not</p>-->
    <!--      <h3>{{ resto.open_hour | date : 'hh:mm:ss a' }}</h3>-->
    <!--  </a>-->
      
    <!--  <a class="item item-icon-left" href="#">-->
    <!--      <i class="icon ion-android-restaurant"></i>-->
    <!--      <p>cuisine</p>-->
    <!--      <h3>{{ resto.cuisine }}</h3>-->
    <!--  </a>-->

    <!--</div>-->
    
    <!--<a class="button button-block button-positive" ng-click=showMenu(resto) href="#/tab/menu">Show Menu</a>-->
  </ion-content>
</ion-view>
