<ion-view view-title="Home">


  <ion-content class="overflow-scroll" scroll="true">
    <div ng-if="isMobile">
      
      <br>
      <br>
      <div class="box1">
       <ion-slide-box>
          <ion-slide ng-repeat="image in images">
            <img ng-src="{{image.url}}" style="height:30vh;width:100vw;margin:auto;display:block" >
          </ion-slide>
        </ion-slide-box>
     <!--  <div class="container-gral">-->
     <!--  <div class="container" >-->
    	<!--		<div class="slider" create-slider urls='["img/download.jpg","img/download.jpg","img/download.jpg"]' current="current" time="3"></div>-->
    	<!--	</div>-->
    	<!--</div>-->
      <!--<p style="text-align:center"><img src="img/logo.png" style="width: 300px; height: 200px;"></p>-->
      
      <!--<ion-list>-->
      <!--    <ion-item menu-close href="#/tab/resto" ng-click=openOutlet(object) ng-repeat="object in outletsList">-->
      <!--      {{ object.name }}-->
      <!--    </ion-item>-->
      <!--</ion-list>-->
    <!--</div>-->
      <div class="row row-wrap">
        <div class="col col-50" ng-click=openOutlet(object) ng-repeat="object in outletsList">
          <p style="text-align:center"><img src="img/{{object.id}}.jpg" style="width: 200px; height: 200px;margin:auto; display:block"></p>
        </div>
      </div>
          <div ng-repeat="detail in details">
            <ion-item class="item-custom"
                      ng-click="toggleDetail(detail)"
                      ng-class="{active: isDetailShown(detail)}" ng-if="detail.isMobile">
                <i class="icon icon-right" ng-class="isDetailShown(detail) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
              &nbsp;
              {{ detail.title }}
            </ion-item>
            <ion-item class="item-accordion" ng-show="isDetailShown(detail)">
              <div ng-if="detail.title == 'Contact Us'">
                <p style="text-align:center">www.sqippr.com</p>
                <p style="text-align:center"><a href="#/tab/contactUs">For more details, click here</a></p>
                <br>
                <div class="row">
                  <div class="col col-center"><a href=""><img src="img/playstore.png" style="width: 30px; height: 30px"></a></div>
                  <div class="col col-center"><a href="http://facebook.com/sqippr"><img src="img/facebook.png" style="width: 30px; height: 30px"></a></div>
                  <div class="col col-center"><a href=""><img src="img/twitter.png" style="width: 30px; height: 30px"></a></div>
                </div>
              </div> 
              <div ng-if="detail.title == 'About Us'">
                    <p style="text-align:center">We are an IIT Madras students’ initiative <br>to change the way you order and have food! 
                    Specifically designed to make dining ...<br><a href="#/tab/about">Read More</a></p>
              </div>
            </ion-item>
          </div>
          <div ng-repeat="detail in dummy">
            <ion-item class="item-custom"
                      ng-click="toggleDetail(detail)"
                      ng-class="{active: isDetailShown(detail)}">
                <i class="icon icon-right" ng-class="isDetailShown(detail) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
              &nbsp;
              Our Associates
            </ion-item>
            <ion-item class="item-accordion"
                      ng-repeat="object in detail.objects"
                      ng-show="isDetailShown(detail)">
              <div class="row">
                <div class="col col-33">
                  <img src="img/hasura.png" style="width: 20vw; height: 10vh;margin:auto; display:block; overflow: hidden">  
                </div>
                <div class="col col-33">
                  <img src="img/payu.png" style="width: 30vw; height: 5vh;margin:auto; display:block; overflow: hidden">
                </div>  
                <div class="col col-33">
                  <img src="img/zaitoon.png" style="width: 20vw; height: 10vh;margin:auto; display:block; overflow: hidden">
                </div>                
              </div>
            </ion-item>
          </div> 
        </div>
      </div>
      
      <div ng-if="!isMobile">
        <br><br>
        <div class="box1">
            <div class="slidebox-container">
              <ion-slide-box>
                <ion-slide ng-repeat="image in images">
                  <img ng-src="{{image.url}}" style="width: 100%; height: 60vh; margin:auto;display:block; position: relative; overflow: hidden" >
                </ion-slide>
              </ion-slide-box>
            </div>
          <div class="row">
            <div class="col col-25">
              
            </div>
            <div class="col col-50">
              <div class="row row-wrap">
                <div class="col" ng-click=openOutlet(object) ng-repeat="object in outletsList">
                  <p style="text-align:center"><img src="img/{{object.id}}.jpg" style="width: 80vw; height: 200px;margin:auto; display:block"></p>
                </div>
              </div>
            </div>
            <div class="col col-25">
              
            </div>
          </div>
          <!--<div ng-repeat="detail in details">-->
          <!--  <ion-item class="item-custom"-->
          <!--            ng-click="toggleDetail(detail)"-->
          <!--            ng-class="{active: isDetailShown(detail)}" ng-if="detail.isWeb && detail.title!= 'Our Associates'">-->
          <!--      <i class="icon icon-right" ng-class="isDetailShown(detail) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>-->
          <!--    &nbsp;-->
          <!--    {{ detail.title }}-->
          <!--  </ion-item>-->
          <!--  <ion-item class="item-accordion" ng-show="isDetailShown(detail)">-->
          <!--    {{ detail.text }}  -->
          <!--  </ion-item>-->
          <!--</div>-->
          
          <!--<div ng-repeat="detail in dummy">-->
          <!--  <ion-item class="item-custom"-->
          <!--            ng-click="toggleDetail(detail)"-->
          <!--            ng-class="{active: isDetailShown(detail)}">-->
          <!--      <i class="icon icon-right" ng-class="isDetailShown(detail) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>-->
          <!--    &nbsp;-->
          <!--    Our Associates-->
          <!--  </ion-item>-->
          <!--  <ion-item class="item-accordion"-->
          <!--            ng-repeat="object in detail.objects"-->
          <!--            ng-show="isDetailShown(detail)">-->
              <!--<div class="row">-->
              <!--  <div class="col col-33">-->
              <!--    <img src="img/hasura.png" style="width: 20vw; height: 30vh;margin:auto; display:block; overflow: hidden">  -->
              <!--  </div>-->
              <!--  <div class="col col-33">-->
              <!--    <img src="img/payu.png" style="width: 30vw; height: 20vh;margin:auto; display:block; overflow: hidden">-->
              <!--  </div>  -->
              <!--  <div class="col col-33">-->
              <!--    <img src="img/zaitoon.png" style="width: 20vw; height: 30vh;margin:auto; display:block; overflow: hidden">-->
              <!--  </div>                -->
              <!--</div>-->
          <!--  </ion-item>-->
          <!--</div>-->
      </div>
      
      <div class="box4">
        <br>
        <div class="row>">
          <div class="col text-center"><p style="color:#FF6502; font-size: 14px">Our Associates</p></div>
        </div>  
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <img src="img/hasura.png" style="width: 15vw; height: 20vh;margin:auto; display:block; overflow: hidden">  
          </div>
          <div class="col">
            <img src="img/payu.png" style="width: 20vw; height: 15vh;margin:auto; display:block; overflow: hidden">
          </div>  
          <div class="col">
            <img src="img/zaitoon.png" style="width: 20vw; height: 20vh;margin:auto; display:block; overflow: hidden">
          </div> 
          <div class="col"></div>
        </div>
        <br>
      </div>
      <div class="box2">
        <br><br>
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
            <p style="text-align:center">
              <a href="http://facebook.com/sqippr">
                <img src="img/facebook_orange.png" style="width: 60px; height: 60px;margin:auto; display:block">
              </a>
            </p>  
          </div>
          <div class="col">
            <p style="text-align:center">
              <a href="">
                <img src="img/playstore_orange.png" style="width: 60px; height: 60px;margin:auto; display:block">
              </a>
            </p>  
          </div>
          <div class="col">
            <p style="text-align:center">
              <a href="">
                <img src="img/twitter_orange.png" style="width: 60px; height: 60px;margin:auto; display:block">
              </a>
            </p>  
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
        <br>
        <div class="row">
          <div class="col text-center"></div>
          <div class="col text-center"><a class="button button-outline button-assertive-custom" href="#/tab/about">About Us</a></div>
          <div class="col text-center"><a class="button button-outline button-assertive-custom" href="#/tab/contactUs">Contact Us</a></div>
          <div class="col text-center"><a class="button button-outline button-assertive-custom" href="#/tab/inviteFriends">Invite Friends</a></div>
          <div class="col text-center"></div>
        </div>
        <br>
        <div class="row">
          <div class="col text-center"></div>
          <div class="col text-center"></div>
          <div class="col text-center"></div>
          <div class="col text-center"><a href="" style="text-decoration:none;"><p style="color:#e48912; font-size: 12px">Terms of Service</p></a></div>
          <div class="col text-center"><p style="color:#e48912; font-size: 12px">|</p></div>
          <div class="col text-center"><a href=""style="text-decoration:none;"><p style="color:#e48912; font-size: 12px">Privacy Policies</p></a></div>
          <div class="col text-center"></div>
          <div class="col text-center"></div>
          <div class="col text-center"></div>
        </div>
      </div>
      <div class="box3">
        <br>
        <p style="color: white; text-align: center"><b>WE BE SQIPPIN' 'N' FLIPPIN' WHILE THEY HAIR RIPPIN'</b></p>
        <p style="color: white; text-align: center">&copy 2016 sQippr, All Rights Reserved</p>
      </div>
      </div>
      
    </ion-content>
        <!--<div class="bar bar-footer bar-assertive-custom" ng-if="!isMobile">-->
        <!--  <div class="title">-->
        <!--    <div class="row">-->
        <!--      <div class="col"><p style="color: #ff7f12; font-size: 15px; "><b>Find us on: </b></p></div>-->
        <!--      <div class="col col-center"><a href=""><img src="img/playstore.png" style="width: 40px; height: 40px"></a></div>-->
        <!--      <div class="col col-center"><a href="http://facebook.com/sqippr"><img src="img/facebook.png" style="width: 40px; height: 40px"></a></div>-->
        <!--      <div class="col col-center"><a href=""><img src="img/twitter.png" style="width: 40px; height: 40px"></a></div>-->
        <!--      <div class="col col-center"><a href=""><img src="img/instagram.png" style="width: 40px; height: 40px"></a></div>-->
        <!--      <div class="col col-center"><a href=""><img src="img/google-plus.png" style="width: 40px; height: 40px"></a></div>-->
        <!--      <div class="col col-center"><a href=""><img src="img/mail-icon.png" style="width: 40px; height: 40px"></a></div>-->
        <!--      <div class="col col-center">&copy 2016 Sqippr</div>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->
</ion-view>