<ion-view view-title="Invite Friends" ng-controller="inviteFriendsCtrl">
  <ion-content class="overflow-scroll" scroll="true">
    <div class="box1">
    <div ng-if="!isOnline">
      <div class="bar bar-subheader bar-assertive">
        <h2 class="title">You are not connected to the internet</h2>
      </div>
      <br>
      <br>
      <br>
    </div>
    
    <br><br>
    <div ng-if="isMobile">
            <div class="centered">
              <div><p style="color: grey">Enter a friend's email address</p></div>
              <div class="list">
                <label class="item item-input item-floating-label">
                  <span class="input-label"><i class="icon ion-ios-person"></i>&nbsp &nbsp Email ID</span>
                  <input type="text"  ng-model="email" placeholder="Email ID">
                </label>
              </div>
              
              <button class="button button-block button-assertive-custom" ng-click='invite(email)'><h4 style="color:white">Send Invitation!</h4></button>      

        </div>
    </div>
    <div ng-if="!isMobile">
        <div class="row">
          <div class="col col-25">
            
          </div>
          <div class="col col-50">
            <div class="centered">
              <div><p style="color: grey">Enter a friend's email address</p></div>
              <div class="list">
                <label class="item item-input item-floating-label">
                  <span class="input-label"><i class="icon ion-ios-person"></i>&nbsp &nbsp Email ID</span>
                  <input type="text"  ng-model="email" placeholder="Email ID">
                </label>
              </div>
              
              <button class="button button-block button-assertive-custom" ng-click='invite(email)'><h4 style="color:white">Send Invitation!</h4></button>      
            </div>
            <div ng-if="check">
              <p style="text-align: center"><img src="img/tick.png" style="width: 200px; height: 200px"></p>
            </div>
          </div>
          <div class="col col-25">
            
          </div>
        </div>
        <div class="box4">
          <br>
          <div class="row>">
            <div class="col text-center"><p style="color:#FF6502; font-size: 14px">Our Associates</p></div>
          </div>  
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <img src="img/hasura.png" style="width: 15vw; height: 20vh;margin:auto; display:block; overflow: hidden">  
            </div>
            <div class="col">
              <img src="img/payu.png" style="width: 20vw; height: 15vh;margin:auto; display:block; overflow: hidden">
            </div>  
            <div class="col">
              <img src="img/zaitoon.png" style="width: 20vw; height: 20vh;margin:auto; display:block; overflow: hidden">
            </div> 
            <div class="col"></div>
          </div>
          <br>
        </div>
        <div class="box2">
          <br><br>
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
              <p style="text-align:center">
                <a href="http://facebook.com/sqippr">
                  <img src="img/facebook_orange.png" style="width: 60px; height: 60px;margin:auto; display:block">
                </a>
              </p>  
            </div>
            <div class="col">
              <p style="text-align:center">
                <a href="">
                  <img src="img/playstore_orange.png" style="width: 60px; height: 60px;margin:auto; display:block">
                </a>
              </p>  
            </div>
            <div class="col">
              <p style="text-align:center">
                <a href="">
                  <img src="img/twitter_orange.png" style="width: 60px; height: 60px;margin:auto; display:block">
                </a>
              </p>  
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <br>
          <div class="row">
            <div class="col text-center"></div>
            <div class="col text-center"><a class="button button-outline button-assertive-custom" href="#/tab/about">About Us</a></div>
            <div class="col text-center"><a class="button button-outline button-assertive-custom" href="#/tab/contactUs">Contact Us</a></div>
            <div class="col text-center"><a class="button button-outline button-assertive-custom" href="#/tab/inviteFriends">Invite Friends</a></div>
            <div class="col text-center"></div>
          </div>
          <br>
          <div class="row">
            <div class="col text-center"></div>
            <div class="col text-center"></div>
            <div class="col text-center"></div>
            <div class="col text-center"><a href="" style="text-decoration:none;"><p style="color:#e48912; font-size: 12px">Terms of Service</p></a></div>
            <div class="col text-center"><p style="color:#e48912; font-size: 12px">|</p></div>
            <div class="col text-center"><a href=""style="text-decoration:none;"><p style="color:#e48912; font-size: 12px">Privacy Policies</p></a></div>
            <div class="col text-center"></div>
            <div class="col text-center"></div>
            <div class="col text-center"></div>
          </div>
        </div>
        <div class="box3">
          <br>
          <p style="color: white; text-align: center"><b>WE BE SQIPPIN' 'N' FLIPPIN' WHILE THEY HAIR RIPPIN'</b></p>
          <p style="color: white; text-align: center">&copy 2016 sQippr, All Rights Reserved</p>
        </div>        

     </div>
     </div>
      <!--<a class="item" href="#">-->
      <!--  <p>Password</p>-->
      <!--  <h2 style="color: #ff5733">{{ user.password }} </h2>-->
      <!--</a>-->
      <!--<a class="item" href="#">-->
      <!--  <p>Location</p>-->
      <!--  <h2 style="color: #ff5733">Location </h2>-->
      <!--</a>-->
      <!--<a class="item item-icon-right item-icon-left" href="#">-->
      <!--  <i class="icon ion-ios-plus-outline" ng-click=addAccount()></i>-->
      <!--  <p>Registered Accounts</p>-->
      <!--  <i class="icon ion-ios-help-outline" ng-click=showAlert()></i>-->
      <!--</a>-->

  </ion-content>
</ion-view>
