<ion-view view-title="Hello Profile">
  <ion-content>
    <br><br>
     <div class="list">

      <a class="item" href="#">
        <p>Name</p>
        <h2 style="color: #ff5733">{{ user.name }} </h2>
      </a>
      <a class="item" href="#">
        <p>Email ID</p>
        <h2 style="color: #ff5733">{{ user.email }} </h2> 
      </a>
      <a class="item" href="#">
        <p>Phone Number</p>
        <h2 style="color: #ff5733">{{ user.phone }} </h2>
      </a>
      <a class="item" ng-click='changePassword()'>
        <p>Change Password</p>
        <h2 style="color: #ff5733">********** </h2>
      </a>
      <!--<a class="item" href="#">-->
      <!--  <p>Location</p>-->
      <!--  <h2 style="color: #ff5733">Location </h2>-->
      <!--</a>-->
      <a class="item item-divider item-icon-right item-icon-left" href="#">
        <i class="icon ion-ios-plus-outline" ng-click=addAccount()></i>
        <p>Registered Accounts</p>
        <i class="icon ion-ios-help-outline" ng-click=showInfo()></i>
      </a>
      <div class="item">
        <div class="row" ng-repeat = "account in accounts">
          <div class="col">{{account.regEmail}}</div>
          <div class="col">
            <p style = "font-size: 12px; color:green; text-align:right" ng-if= "account.isActive">Active</p>
            <p style = "font-size: 12px; color:red; text-align:right" ng-if= "!account.isActive">Not Active</p>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
