<ion-view view-title="Contact Us">
  <ion-content>
    <div ng-if="!isOnline">
      <div class="bar bar-subheader bar-assertive">
        <h2 class="title">You are not connected to the internet</h2>
      </div>
      <br>
      <br>
      <br>
    </div>
    
    <br><br>
     <div class="container">
       <p style="text-align:center">Zaitoon Restaurant</p>

      <p style="text-align:center">IIT Madras,</p>

      <p style="text-align:center">Adyar</p>

      <p style="text-align:center">Chennai – 600036</p>

      <br><br>
      <p style="text-align:center">Email id: contactus@sqippr.com</p>

      <p style="text-align:center">Phone: 9789074411/9605166123</p>
     </div>
      <!--<a class="item" href="#">-->
      <!--  <p>Password</p>-->
      <!--  <h2 style="color: #ff5733">{{ user.password }} </h2>-->
      <!--</a>-->
      <!--<a class="item" href="#">-->
      <!--  <p>Location</p>-->
      <!--  <h2 style="color: #ff5733">Location </h2>-->
      <!--</a>-->
      <!--<a class="item item-icon-right item-icon-left" href="#">-->
      <!--  <i class="icon ion-ios-plus-outline" ng-click=addAccount()></i>-->
      <!--  <p>Registered Accounts</p>-->
      <!--  <i class="icon ion-ios-help-outline" ng-click=showAlert()></i>-->
      <!--</a>-->

  </ion-content>
</ion-view>
